.step-quality-card {
    border-radius: 5px;
    background-color: #FFFFFF;
    box-shadow: 0 1px 4px var(--grey-color);
    display: flex;
    flex-direction: column;
    padding: 32px 32px;
    max-height: 650px;
    flex: 1;
    position: relative;
}

.step-quality-card-title {
    display: flex;
    justify-content: left;
    color: #33383B;
    font-size: 24px;	
    font-weight: 600;	
    letter-spacing: -0.6px;	
    margin-bottom: 20px;
    line-height: 27px;
    min-height: 20px
}