.login-info {
  display: flex;
  align-items: center;
}

.login-info > .name {
  color: var(--grey-color);
  margin-right: 8px;
  font-size: 13px;
}

.login-info > .icon {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 40px;
  width: 40px;
  border: 1px solid var(--grey-color);
  border-radius: 50%;
  cursor: pointer;
  margin-right: 12px;
}

.login-info > .icon > .iconsvg {
  height: 16px;
  width: 16px;
}

@media only screen and (max-device-width: 480px) {
  .login-info > .name {
    display: none;
  }
}
