.circular-progress {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 999999;
    background: rgba(255, 255, 255, 0.6);
    height: auto;
  }

.circular-progress b,
.circular-progress p {
  margin-top: 10px;
}

