.sc-screen {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.sc-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: transparent;
    /* background-color: red; */
}

#page-title {
    color: #333;
    font-weight: bold;
    font-size: 28px;
}

.buttons {
    padding-right: 20px;
}

.buttons > button {
    margin: 3px;
    padding: 0px 45px;
}

.sc-search-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 25px;
    padding: 5px;
    /* background-color: transparent; */
    background-color: #fff;
    box-shadow: 0 0 5px 0 #E5E9F2;
    border-radius: 4px;
}

.search-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    width: 70%;
    padding: 5px;
}

.search-bar > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar > div:hover {
    cursor: pointer;
}

.search-input {
    padding-left: 5px;
    width: 100%;
    font-size: 15px;
    color: #333;
}

.separator {
    box-sizing: border-box;
    border: 1px solid #DCDCDC;
    opacity: 0.6;
    width: 1px;
    height: 35px;
    margin: 5px;
}

.button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 4px;
    padding: 2px;
}

.empty-state {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.empty-state > button {
    margin-top: 20px;
}

.creation-body {
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.creation-container-fields { 
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}

.creation-field {
    width: 45%;
    margin-bottom: 30px;
}

.creation-field > * {
    margin-bottom: 10px;
    width: 100%;
}

.creation-field-title {
    font-weight: bold;
}

.schedule-input {
    width: 100%;
}
.creation-input {
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    padding: 0px 10px;
}

.creation-containers { 
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: 100%;
}

.creation-separator {
    flex: 1;
    box-sizing: border-box;
    border: 1px solid #DCDCDC;
    opacity: 0.6;
    max-width: 1px;
    width: 1px;
    height: 200px;
    margin: 5px 25px;
}

.hierarchy-container {
    flex: 1;
}

.members-container{
    flex: 1;
}
.creation-footer {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: end;
}

.creation-footer > button {
    width: 150px;
    margin: 5px;
    padding: 0px 30px;
}